@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600);
@import url(//fonts.googleapis.com/css?family=Raleway:300,400,700);

span.tm {
    font-size: .25em;
}

body {
    background: rgb(53, 56, 63);
    color: rgb(34, 34, 34);
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

h1 {
    font-size: 3em;
}

h4 {
    font-size: 1.4375em;
}

a, .navbar-inverse .navbar-brand {
    color: rgba(99, 167, 237, 1);
    text-decoration: none;
    line-height: inherit;
}

.navbar-brand {
    font-size: 2em;
}

header > .navbar {
    background: rgba(46, 49, 56, 1);
    overflow: visible;
    height: 82px;
    line-height: 47px;
    position: relative;
    margin-bottom: 0;
}

header {
    background: rgb(46, 49, 56);
    border-top: rgb(99, 167, 237) 3px solid;
    border-bottom: rgb(32, 34, 39) 1px solid;
    overflow: hidden;
}

section#main {
    background: #fff;
}

#hero {
    background: rgb(53, 56, 63) url(/images/hero.jpg) center 0% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

#hero h1 {
    color: #63a7ed;
    font-weight: 300;
}

#hero h4 {
    color: #bec1c2;
    font-weight: 400;
}

#hero .button {
    cursor: pointer;
    font-family: inherit;
    line-height: 1;
    margin: 0 0 1.25em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    border-radius: 6px;
    padding: 0.8125em 1.5em 0.75em;
    background: transparent;
    border: #fff 2px solid;
    color: #fff !important;
    font-weight: normal;
}

#hero .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#hero-message {
    padding: 6.25em 0;
    height: 300px;
}


#main .row.title {
    text-align: center;
    margin-bottom: 20px;
}

#main .row.title h4 {
    border-bottom: rgb(224, 224, 224) 2px solid;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb-container {
    background: #0a0a0a;
    overflow: hidden;
}

.features {
}

.features h4 {
    color: #63a7ed;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 940px) {
    ul.pricing-table {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    ul.pricing-table:hover {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04);
    }
}

ul.pricing-table li.price span {
    color: rgba(119, 119, 119, 0.85);
}

ul.pricing-table:not(.highlight) li.cta-button .button {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background: transparent;
    border: #35383f 2px solid;
    color: #35383f !important;
}

ul.pricing-table:not(.highlight) li.cta-button .button:hover {
    background-color: #35383f;
    color: #fff !important;
}

ul.pricing-table.highlight .price {
    background: #63a7ed;
}

ul.pricing-table.highlight .price span {
    color: rgba(255, 255, 255, 0.45);
}

article h6 a {
    color: #222222;
}

article h6 a:hover {
    color: #63a7ed;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.pagination li a {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.popup a {
    position: relative;
    display: block;
}

.popup-overlay {
    background-color: rgba(99, 167, 237, 0.5);
    color: #fff;
    display: none;
    font-size: 3em;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.popup-overlay i {
    position: relative;
    color: rgba(255, 255, 255, 0.85);
}

.about-social {
    margin: 0.9375em 0 1.875em;
    text-align: center;
}

.about-social a {
    background: #4c515b;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    margin: 0 0.1875em;
    text-align: center;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.about-social a:hover {
    background: #63a7ed;
}

#map-canvas {
    height: 15.625em;
    margin-bottom: 30px;
}

#map-canvas img {
    box-shadow: none;
    border-radius: 0;
    max-width: none;
}

#back-top {
    display: none;
}

@media only screen and (min-width: 940px) {
    #back-top {
        background: #63a7ed;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        bottom: 30px;
        color: #fff;
        display: none;
        font-size: 2em;
        height: 1.33333em;
        position: fixed;
        right: 30px;
        text-align: center;
        width: 1.33333em;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }

    #back-top i {
        line-height: 1.33333em;
    }

    #back-top:hover, #back-top:focus {
        background-color: #292c31;
    }
}

footer {
    background: #35383f;
    color: #fff;
    padding: 1.875em 0;
}

footer > .row > .column {
    font-size: 0.875em !important;
}

footer h4, footer h6 {
    color: #fff;
    font-weight: bold;
}

footer h4 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

@media only screen and (min-width: 940px) {
    footer h4 {
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }
}

footer a {
    color: #989da8 !important;
    text-decoration: underline;
}

footer a:hover, footer a:focus {
    color: #63a7ed !important;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

footer p {
    color: #989da8;
}

footer hr {
    border-color: #2c2e34;
}

footer .social {
    text-align: center;
}

@media only screen and (min-width: 940px) {
    footer .social {
        text-align: right;
    }
}

footer .social a {
    text-decoration: none;
}

footer .social a i {
    color: #989da8;
    font-weight: normal;
    display: inline-block;
    padding: 0.75em 0;
    width: 2.625em;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

@media only screen and (min-width: 940px) {
    footer .social a i {
        padding: 0.5em 0;
        width: 2em;
    }
}

footer .social a i:hover {
    background-color: #989da8;
    color: #35383f;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

footer .side-nav {
    padding: 0;
}

footer .side-nav li {
    font-size: 1em;
}

footer ul[class*="block-grid"] li img {
    border-color: #2c2e34;
}

footer .copyright {
    text-align: center;
}

@media only screen and (min-width: 940px) {
    footer .copyright {
        text-align: left;
    }
}

/** Newsletter stuff */
#newsletter {
    margin: 2em 0 5em 0;
}

#mc_embed_signup {
    width: 575px;
    margin: 0 auto;
}

#mc_embed_signup input {
    width: 400px;
    height: 32px;
    margin-right: 20px;

}

#mc_embed_signup form > input,
#mc_embed_signup form > button {
    display: inline;
}

#social {
    margin: 2em;
}

/** Social Stuff */
#social #social-buttons {
    margin: -3em auto 0;
    width: 750px;
}

#social #social-buttons .social-big-button {
    text-align: center;
    margin-bottom: 20px;
}

/**#social #social-buttons .social-button { float: right; margin-right: 20px; width: 40px; }
@media only screen and (max-device-width: 480px) {
	#social #social-buttons { width: 70px; }
}*/

#social #paypal {
    margin: 2em auto 0;
    width: 500px;
}

#social #paypal p {
    font-size: .8em;
    width: 300px;
    float: left;
}

#social #paypal form {
    margin-top: 1em;
    float: right;
}